<html>
  <head>
    <Title>HEN - Health Exchange Network</Title>
    <link rel="stylesheet" type="text/css" href="http://twitter.github.com/bootstrap/1.3.0/bootstrap.min.css">
    <link rel=stylesheet type=text/css href="{{ url_for('static', filename='style.css') }}">
    <script type="text/javascript"
     src="http://ajax.googleapis.com/ajax/libs/jquery/1.6.2/jquery.min.js"></script>
    <script src="{{ url_for('static', filename='js/master.js') }}" type="text/javascript" charset="utf-8"></script>
    {% block head %}{% endblock %}
  </head>
  <body>
    
    
    <div class="topbar">
      <div class="topbar-inner">
        <div class="container-fluid">
          <a class="brand" href="#">HEN - Health Exchange Network</a>
          <ul class="nav">
            <li class="active"><a href="#">Home</a></li>
            <li><a href="#about">About</a></li>
            <li><a href="#contact">Contact</a></li>
          </ul>
          <p class="pull-right">Logged in as <a href="#">username</a></p>
        </div>
      </div>
    </div>
        
    <div  class="container">
        {% block nav %}{% endblock %}
        {% block body %}{% endblock %}
    </div>
  </body>
</html>
