{% extends "base.html" %}



{% block body %}

<div class="inner_section" title="Login">
    <div class="row show-grid" title="Login">
        <div class="span-one-third offset-one-third login" style="background:white; padding: 10px;" >
        
            <form class = "form-stacked" action="login" method="POST" accept-charset="utf-8">
                <h2>Login</h2>
                <br/>
                <label for="username">Username</label><input class="xlarge" type="text" name="username" value="" id="username"/>
                <label for="password">Password</label><input class="xlarge" type="password" name="password" value="" id="password"/>
                <br/>
                <br/>
                <br/>
                <p><input type="submit" class="btn primary" value="Login">
                <input type="submit" class="btn" value="Register">
                </p>
            </form>
            
        </div>
        <div class="span-one-third">&nbsp;</div>

      </div>
  
  
</div>

{% endblock %}

