{% extends "base.html" %}

{% block nav %}
 <div class="span6">
     <div style="text-align:center">
             <h3>Patient Discharge Checklist:</h2>
    <h1 style="margin:auto">Walter U. Olds</h1>
    </div>
</div>

{% endblock %}


{% block body %}

<!-- Example row of columns -->
<div class="row">
  <div class="span8">
     <div class="mini-layout">
        <div class="mini-layout-header">Medication</div>
        <br/>
        <br/>
        <br/>
        <br/>
        <br/>
        <br/>
        <br/>
      </div>

     <div class="mini-layout">
        <div class="mini-layout-header">Next Appointment</div>
        <br/>
        <br/>
        <br/>
        <br/>
        <br/>
      </div>

  </div>
  
  <div class="span8">


     <div class="mini-layout">
        <div class="mini-layout-header">Discharge Checklist</div>
        <br/>
        <br/>
        <br/>
        <br/>
        <br/>
        <br/>
        <br/>
        <br/>
        <br/>
      </div>


     <div class="mini-layout">
        <div class="mini-layout-header">Caregivers</div>
        <br/>
        <br/>
        <br/>
        <br/>
        <br/>
        <br/>
      </div>

</div>

<div class="span16">
     <div class="mini-layout">
        <div class="mini-layout-header">Personal Information</div>
        <br/>
        <br/>
        <br/>
        <br/>
        <br/>
      </div>

 </div>


<div class="span16">
     <div class="mini-layout">
        <div class="mini-layout-header">Users</div>
        <br/>
        <br/>
        <br/>
        <br/>
        <br/>
        <br/>
        <br/>
        <br/>
        <br/>
      </div>

 </div>


</div>


{% endblock %}













