{% extends "base.html" %}

{% block nav %}
 <div class="span6">
     <div style="text-align:center">
             <h3>Patient Discharge Checklist:</h2>
    <h1 style="margin:auto">Grandma May</h1>
    </div>
</div>

{% endblock %}


{% block body %}

<script src="/static/js/jquery.tablesorter.min.js"></script>


<!-- Example row of columns -->
<div class="row">
  <div class="span8">
     <div class="mini-layout">
        <div class="mini-layout-header">Medication</div>

<table id="medication">
    <thead>
<tr>
<th>Drug Name</th>
<th>Dose</th>
<th>When to take it</th>
</tr>
</thead>
<tr>
    <td>Prozac</td>
    <td>2 pills</td>
    <td>3 times a day</td>
</tr>
<tr>
    <td>Flonase</td>
    <td>1 pill</td>
    <td>ever morning</td>
</tr>
<tr>
    <td>Lanoxin</td>
    <td>1 pill</td>
    <td>ever morning</td>
</tr>
<tr>
    <td>Humulinin N</td>
    <td>2 pills</td>
    <td>ever morning &amp; eveving</td>
</tr>
<tr>
    <td>Abilify </td>
    <td>2 pills</td>
    <td>ever other hour</td>
</tr>


</table>

      </div>

     <div class="mini-layout">
        <div class="mini-layout-header">Next Appointment</div>

<table id="medication">
    <thead>
<tr>
<th>Date</th>
<th>Time</th>
<th>Location</th>
</tr>
</thead>
<tr>
    <td><h3>12/11/2011</h3></td>
    <td><h3>10:00 AM</h3></td>
    <td><address><strong>1257 La Jolla Dr.<br/> San Diego, CA 92037</strong></address></td>
</tr>



</table>

      </div>

  </div>
  
  <div class="span8">

<script >
  $(function() {
    $("table#discharge-checklist").tablesorter({ sortList: [[0,1]] ,  headers: { 2:{sorter:false} } });
  });
</script>

     <div class="mini-layout">
        <div class="mini-layout-header">Discharge Checklist</div>


<table id="discharge-checklist">
    <thead>
<tr>


<th>Date</th>
<th>Provider</th>
<th></th>



</tr>

</thead>

<tr class="current">
<td>10/13/2011</td>
<td>La Jolla Hospital </td>
<td align="center"><a href=""><span class="action">see form</span></a></td>
</tr>
<tr>
<td>08/03/2011</td>
<td>Olive Branch Assisted </td>
<td align="center"><a href=""><span class="action">see form</span></a></td>
</tr>



<tr>
<td>10/13/2011</td>
<td>La Mesa Hospital </td>
<td align="center"><a href=""><span class="action">see form</span></a></td>
</tr>


</table>



&nbsp;&nbsp;<button class="btn  small">Add Discharge Form</button>&nbsp;&nbsp;


<br/>



<br/>

      </div>


     <div class="mini-layout">
        <div class="mini-layout-header">Add Family or Friends</div>

<br/>

          <div class="clearfix">
            <label for="prependedInput">Email &nbsp;</label>
            <div class="input">
              <div class="input-prepend">
                <span class="add-on">@</span>
                <input class="medium" id="prependedInput" name="prependedInput" size="16" type="text" />
                
                <input type="submit" class="btn" value="share">
              </div>
            </div>              
       </div>
<br/>
</div>

</div>

<div class="span16">
     <div class="mini-layout">
        <div class="mini-layout-header">Personal Information</div>

<table id="personal-information">
    <thead>
<tr>

<th>Location</th>
<th>Phone</th>
<th>Email</th>
<th></th>

</tr>

</thead>

<tr>
<td>12978 Abra Drive, CA 91006</td>
<td>(539) 363 9393</td>
<td>walterold@gmail.com</td>
<td align="center"><a href=""><span class="action">edit</span></a></td>
</tr>


</table>


</div>

 </div>


<div class="span16">
     <div class="mini-layout">
        <div class="mini-layout-header">Users</div>

<div class="row">
    <div class="span8">
<table >
    <thead>
<tr>

<th>Providers</th>

</tr>

</thead>

<tr>
    <td>La Jolla Hospital, San Diego CA</td>
</tr>

<tr>
    <td>Olive Branch Assisted Living, Northbrige CA</td>
</tr>


<tr>
    <td>La Messa Hospital, La Mesa CA</td>
</tr>




</table>
    </div>

    <div class="span7">
<table >
    <thead>
<tr>

<th>Family and Friends</th>

</tr>

</thead>

<tr>
    <td>Danny D. Uncle </td>
</tr>

<tr>
    <td>Sammy L. Cousin </td>
</tr>


<tr>
    <td>Jake Smith</td>
</tr>

<tr>
    <td>John H. Frammyly </td>
</tr>



</table>
    </div>
</div>        

      </div>

 </div>


</div>


{% endblock %}













