{% extends "base.html" %}

{% block body %}

<br />
<div align="center" class="style2">For patients and their caregivers preparing to leave a hospital, nursing home, or other health care setting.</div>
<br />
<div class="row">
    <div class="span-one-third offset-one-third" align="center">OCTOBER 18, 2011</div>
    <div class="span-one-third">
        <button class="btn info pull-right">PRINT</button>

    </div>
</div>
<br />
<br />

<table width="960" border="0">
  <tr>
    <td width="270" bgcolor="#29b5cc"><span class="white_label">Name:</span></td>
    <td width="675"><span class="white_label">Walter U. Olds</span></td>
  </tr>
</table>
<table width="960" border="0">
  <tr>
    <td width="270" bgcolor="#29b5cc"><span class="style21">Reason for Admission:</span></td>
    <td width="679"><span class="style11">Depression</span></td>
  </tr>
</table>
<span class="style3 style12"><span class="label important">Important</span> During your stay, your doctor and the staff will work with you to plan for your discharge. You and your caregiver are important members of the planning team. A caregiver is a family member or friend who may be helping you after discharge. Below is a checklist of important things you and your caregiver should know to prepare for discharge.</span><br />
<table width="960" border="0">
  <tr>
    <td colspan="2" bgcolor="#29b5cc"><span class="style21">Current Provider:</span></td>
  </tr>
  <tr>
    <td colspan="2"><div class="span 4 offset1"><address><span class="style11">La Jolla Hospital<br />
    1237 La Jolla Drive<br />
    La Jolla, CA 02135<br />
    858) 663-8888</span><br /></address></div></td>
  </tr>
  &nbsp;
</table>
<br />
<table width="960" border="0">
  <tr>
    <td colspan="2" bgcolor="#29b5cc"><span class="style21">New  Provider:</span></td>
  </tr>
  <tr>
    <td colspan="2"><div class="span4 offset1"><address><span class="style11">Olive Branch Assisted Living<br />
    332 Olive Drive<br />
    Northridge, CA 92144<br />
    (858) 534-4900<br /></span></address>
    </td>
  </tr>
</table>
<br />
<table width="960" border="0">
  <tr>
    <td bgcolor="#29b5cc"><span class="style21">Discharge Instructions:</span></td>
  </tr>
  <tr>
    <td><span class="style11">Please be careful when using drugs as it can be harmful to the body. Remember to drink lots of fluids everyday and make sure someone is always present. Call your new health care provider immediately if you feel any pain or nausea within the next two weeks.</span></td>
  </tr>
</table>
<br />
<table width="960" border="0">
  <tr>
    <td colspan="2" bgcolor="#29b5cc"><span class="style21">Friend or Family Member Who Will be Helping you:</span></td>
  </tr>
  <tr>
    <td width="475"><div align="center"><span class="style11">Jacob Hastings</span></div></td>
    <td width="475"><div align="center"><span class="style11">(858) 345-6433</span></div></td>
  </tr>
</table>
<br />
<table width="960" border="0">
  <tr>
    <td bgcolor="#29b5cc"><span class="style21">Your Health Condition and What You Can Do to Get Better:</span></td>
  </tr>
  <tr>
    <td height="21"><div align="center"></div>      </td>
  </tr>
</table>
<br />
<table width="960" border="0">
  <tr>
    <td colspan="2" bgcolor="#29b5cc"><span class="style21">Problems to Watch for and Who to Contact:</span></td>
  </tr>
  <tr>
    <td width="476" height="21"><div align="center" class="style11">
      <div align="center">Doctor James Flemming</div>
    </div></td>
    <td width="474"><div align="center"><span class="style11">(619) 456-2335</span></div></td>
  </tr>
</table>
<br />
<table width="960" border="0">
  <tr>
    <td colspan="2" bgcolor="#29b5cc"><span class="style21">Questions About Your Medical Equipment, Call:</span></td>
  </tr>
  <tr>
    <td width="475" height="21"><div align="center" class="style11">
      <div align="center">Brian Shoe</div>
    </div></td>
    <td width="475"><div align="center" class="style4"><span class="style2">(619) 353-2315</span></div></td>
  </tr>
</table>
<br />
<table width="960" border="0">
  <tr>
    <td colspan="2" bgcolor="#29b5cc"><span class="style21">If You Need Help With Special Tasks (i.e. changing a bandage), Call:</span></td>
  </tr>
  <tr>
    <td width="476" height="21"><div align="center" class="style11">
      <div align="center">Jake McCulley</div>
    </div></td>
    <td width="474"><div align="center" class="style4"><span class="style2">(858) 324-3561</span></div></td>
  </tr>
</table>
<br />
<table width="960" border="0">
  <tr>
    <td colspan="2" bgcolor="#29b5cc"><span class="style21">Support Group for Coping with Illness:</span></td>
  </tr>
  <tr>
    <td width="476" height="21"><div align="center" class="style11">
      <div align="center">La Mesa Illness Helpline</div>
    </div></td>
    <td width="474"><div align="center" class="style4"><span class="style2">(858) 344-6500</span></div></td>
  </tr>
</table>
<br />
<table width="960" border="0">
  <tr>
    <td colspan="2" bgcolor="#29b5cc"><span class="style21">For Help With Insurance and Costs, Call:</span></td>
  </tr>
  <tr>
    <td width="476" height="21"><div align="center" class="style11">
      <div align="center">Jim Beam</div>
    </div></td>
    <td width="474"><div align="center"><span class="style11">(858) 325-6234</span></div></td>
  </tr>
</table>
<br />
<table width="960" border="0">
  <tr>
    <td bgcolor="#29b5cc"><span class="style10"><strong>My Drug List:</strong><br />
        <span class="style15">Include prescription drugs, over-the-counter drugs, vitamins, and herbal supplements.</span><br />
    </span></td>
  </tr>
  <tr>
    <td><table width="960" border="1">
      <tr>
        <td width="172"><div align="center"><span class="style3">DRUG NAME</span></div></td>
        <td width="159"><div align="center"><span class="style3">WHAT IT DOES</span></div></td>
        <td width="68"><div align="center"><span class="style3">DOSE</span></div></td>
        <td width="175"><div align="center"><span class="style3">HOW TO TAKE IT</span></div></td>
        <td width="168"><div align="center"><span class="style3">WHEN TO TAKE IT</span></div></td>
        <td width="178"><div align="center"><span class="style3">NOTES</span></div></td>
      </tr>
      <tr>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
      </tr>
      <tr>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
      </tr>
      <tr>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
      </tr>
      <tr>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
      </tr>
    </table></td>
  </tr>
</table>
<br />
<table width="960" border="0">
  <tr>
    <td bgcolor="#29b5cc"><span class="style21">Prescription and Diet Instructions:</span></td>
  </tr>
  <tr>
    <td height="20"><span class="style11">Remember to drink lots of water with your medication.</span></td>
  </tr>
</table>
<br />
<table width="960" border="0">
  <tr>
    <td colspan="2" bgcolor="#29b5cc"><span class="style21">Who Should You Call if You Have Questions About Your Drugs:</span></td>
  </tr>
  <tr>
    <td width="475" height="21"><div align="center" class="style11">James Jameson</div></td>
    <td width="475"><div align="center" class="style11">(619) 233-6422</div></td>
  </tr>
</table>
<br />
<table width="960" border="0">
  <tr>
    <td bgcolor="#29b5cc"><span class="style10"><span class="style21">My Appointments:</span><br />
    </span></td>
  </tr>
  <tr>
    <td height="80"><table width="960" border="1">
      <tr>
        <td width="368"><div align="center"><span class="style17">APPOINTMENTS AND TESTS</span></div></td>
        <td width="278"><div align="center"><span class="style17">DATE</span></div></td>
        <td width="292"><div align="center"><span class="style17">PHONE NUMBER</span></div></td>
        </tr>
      <tr>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
        </tr>
      <tr>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
        </tr>
    </table></td>
  </tr>
</table>
<br />
<table width="960" border="0">
  <tr>
    <td bgcolor="#29b5cc"><span class="style21">Final Notes and Questions About Your Discharge</span></td>
  </tr>
  <tr>
    <td height="20"><span class="style11">These are questions the patient may have during the discharge process.</span></td>
  </tr>
</table>
<br />
<table width="960" border="0">
  <tr>
    <td bgcolor="#29B5CC"><span class="style18">Resources</span></td>
  </tr>
  <tr>
    <td><p class="style24">The agencies listed here have information on community services, like home-delivered meals and rides to appointments. You can also get help making long-term care decisions. Ask a social worker in your health care setting for more information on community services and support.</p>
      <p class="style24"><strong>Area Agencies on Aging (AAAs):</strong> Help adults age 60 and older and their caregivers. To find the AAA in your area, call The Eldercare Locator at 1-800-677-1116 weekdays from 9:00 a.m. to 8:00 p.m. (EST), or visit www.eldercare.gov.</p>
      <p class="style24"><strong>Long-Term Care (LTC) Ombudsman Program:</strong> Advocate for, and promote the rights of, residents in LTC facilities. Visit www.Ltcombudsman.org.</p>
      <p class="style24"><strong>Aging and Disability Resource Centers (ADRCs):</strong> Offer resources to help people of all incomes and ages stay independent. Visit www.adrc-tae.org.</p>
      <p class="style24"><strong>Centers for Independent Living (CILs):</strong> Help people with disabilities live independently. www.ilru.org/html/publications/directory/index.html.</p>
      <p class="style24"><strong>State Technology Assistance Project:</strong> Has information on medical equipment and other assistive technology. Call 1-703-524-6686 to get the contact information for you state or visit www.resna.org.</p>
      <p class="style24"><strong>National Long-Term Care Clearninghouse:</strong> Provides information and resources to plan for your long-term care needs. Visit www.longtermcare.gov.</p>
      <p class="style24"><strong>National Council on Aging:</strong> Provides information about programs that help pay for prescription drugs, utility bills, meals, health care, and more. Visit www.benefitscheckup.org.</p>
      <p class="style24"><strong>State Health Insurance Assistance Programs (SHIP):</strong> Offer counseling on health insurance and programs for people with limited income. Also help with claims, billing, and appeals. Visit www.medicare.gov/contacts/Default.aspx, or call 1-800-486-2048.</p>
    <p class="style24"><strong>State Medical Assistance (Medicaid) office:</strong> Provides information about Medicaid. To find your local office, call 1-800-MEDICARE and say, &quot;Medicaid.&quot; You can also visit www.medicare.gov.</p>
    <p class="style11">      <strong>Home Health Agency:</strong> If you need help choosing a home health agency or a nursing home, talk to the staff. Visit www.medicare.gov to compare the quality of nursing homes, home health agencies, dialysis facilities, and hospitals in your area. You can also call 1-800-MEDICARE (1-800-633-4227). TTY users should call 1-877-486-2048. </p>
    <p class="style11"><strong>Medicare Discharge Appeal Rights:</strong> If you have Medicare and feel you’re being asked to leave a hospital or other health care setting too soon, you may have the right to ask for a review of the discharge decision by an independent reviewer called a Quality Improvement Organization (QIO) before you leave. The QIO can explain your appeal rights. To get the number for the QIO in your state, call 1-800-MEDICARE.</p>
    <p class="style11">*<em>This publication isn’t a legal document. The official Medicare Program legal guidance is contained in the relevant statutes, regulations, and rulings. The information in this publication was correct when it was printed. Call 1-800-MEDICARE, or visit www.medicare.gov to get the <br />
      most current information. </em></p>
    <p class="style24">&nbsp;</p>
    </td>
  </tr>
</table>
<p align="center" class="style3 style4">© Hen Health 2011</p>

{% endblock %}